/* your code */
.head{
    background-color:#215A8E ;
    text-align: center;
}
.body{
    background-color: #FFFFFF;
    text-align: center;
    

}
.odd{
    background-color: #DDDDDD;
    text-align: center;
}
.table{
    border: 1px solid #DDDDDD;
}
.td1{
    padding-right: 100px;
}
.td2{
    padding-right: 60px;
    
}